<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <title>Devbook - Users</title>
</head>

<body>
    {{ template "header" }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Usuários Encontrados</h5>
                        {{ range . }}
                            <p class="card-text">
                                {{ .Name }} - <a href="/users/{{ .ID }}">{{ .Nick }}</a> - Membro Desde: {{ .CreateAt.Format "02/01/2006" }}
                            </p>
                            
                            {{ else }}
                            
                            <p class="card-text">Nenhum Usuário Encontrado!</p>

                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ template "footer" }}
</body>

{{ template "scripts" }}

<script src="/assets/js/create_post.js"></script>
<script src="/assets/js/like_post.js"></script>
<script src="/assets/js/delete_post.js"></script>

</html>